* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 430px;
  font-family: sans-serif;
  margin-inline: auto;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;

  & div {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  & p {
    color: blue;
  }

  & small {
    font-size: 14px;
  }
}

main {
  padding-left: 20px;

  &>p {
    margin-top: 16px;
  }
}

.section-1 {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 3fr 2fr;
  place-items: center;
  row-gap: 10px;
  margin-top: 20px;
}

select {
  width: 90px;
  height: 206px;
  text-align: center;
  outline: none;
}

option {
  border: 1px solid #ccc;

  &:checked {
    background-color: #ffdead;
    color: #000;
  }
}

.question {
  font-size: 40px;
  margin: 0;
}

.section-2 {
  margin-top: 40px;
}

.answer-form {
  display: flex;
  padding-left: 20px;
}

form label {
  width: 70px;
  align-self: center;
  text-align: center;
}

.answer-input {
  width: 180px;
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  border-right: none;
  border-radius: 10px 0 0 10px;
  outline: none;
}

.skip-btn,
form button,
.reset-btn {
  background: #000;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 0 10px 10px 0;
  outline: none;
  padding: 10px 20px;
}

.status {
  display: flex;
  align-items: center;
  gap: 39px;
  font-size: 20px;
  padding-left: 26px;
  margin-top: 30px;
}

.score {
  color: blue;
  font-weight: 700;
}

.mistakes {
  color: red;
  font-weight: 700;
}

.skip-btn,
.reset-btn {
  border-radius: 10px;
}

.animate-wrong {
  animation: show-error .5s;
}

@keyframes show-error {
  50% {
    color: red;
    scale: 1.2;
  }

  100% {
    color: #333;
    scale: 1;
  }
}